@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

.d-section {
  width: 100vw;
  padding: 80px 0 120px;
  background: #151515;
  font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #222;
}

.d-inner {
  width: min(1200px, 92vw);
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 64px;
}

/* 이미지 컨테이너 */
.d-image-wrap {
  flex: 0 0 60%;
  max-width: 590px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    0 4px 10px rgba(58, 80, 78, 0.45),
    0 14px 32px rgba(58, 80, 78, 0.30),
    0 0 60px rgba(58, 80, 78, 0.32),
    0 0 10px rgba(58, 80, 78, 0.26) inset;
}

/* 이미지 */
.d-img {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100%;
  width: auto;
  object-fit: contain;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  border-radius: 0;
  box-shadow: none;
  filter: none;
  pointer-events: none;
}

.d-img.is-active {
  opacity: 1;
  pointer-events: auto;
}

/* 오른쪽 */
.d-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.d-text-card {
  width: 270px;
  padding: 24px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.06);
  text-align: left;
  color: #abb094;
}

.d-text-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-left: -40px;
}

.d-text-card p {
  font-size: 14px;
  margin-top: 10px;
  margin-left: -40px;
  font-weight: 300;
  line-height: 1.2;
}

/* 슬라이더 */
.d-slider {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -65px;
}

.d-slider-track {
  position: relative;
  width: 2px;
  height: 220px;
  background: #595e45;
}

.d-slider-handle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 18px;
  background: #767d5b;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  cursor: grab;
}

.d-slider-handle.is-dragging {
  cursor: grabbing;
}
